version: '3.8'

networks:
  ansible:
    driver: bridge
    name: ansible

services:
  # Traefik - Reverse Proxy
  joshua:
    image: traefik:v3.0
    container_name: ansible-traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - ansible
    ports:
      - "80:80"
      - "443:443"
    environment:
      - TZ=Europe/Paris
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/traefik.yml:ro
      - ./dynamic.yml:/dynamic.yml:ro
      - ./traefik/acme.json:/acme.json
      - ./traefik/logs:/logs
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`caronboulme.fr`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=auth-api@file"

